.Dash_logo {
    width: 40px;
}

.muirtl-s1yw7d-MuiTypography-root {
    font-size: 30px;
}

.muirtl-f84ov1-MuiTypography-root {
    display: none;
}

.muirtl-8dyk8f-MuiContainer-root {
    max-width: '3000px' !important;
}

 