.Dash_logo {
    width: 40px;
}
 
.muirtl-s1yw7d-MuiTypography-root {
    font-size: 30px;
}

.muirtl-f84ov1-MuiTypography-root {
    display: none;
}

.muirtl-8dyk8f-MuiContainer-root {
    max-width: 3000px !important
}

/* .muirtl-8dyk8f-MuiContainer-root
{
   width: auto !important;
} */
.muirtl-86wc7y-MuiDrawer-docked
{
    min-width: 600px;
}
 
.muirtl-1y8nxit-MuiDrawer-docked .MuiDrawer-paper {
   
    width: auto !important;
}

.css-8dyk8f-MuiContainer-root {
        max-width: 2095px !important;
}
